h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkorange;
    text-align: center;
}

.satu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: justify;
}

.dua{
    width: 250px;
    background-color: aqua;
    /* mengatur tata letak border */
    padding-left: 50px; 
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border: 2px solid black;
    border-color: blueviolet;
    margin-top: 40px;
    margin-bottom: 20px;
    margin: 100px auto;
    text-align: justify;
}